body {
  font-family: "Arimo", sans-serif;
  font-style: normal;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: #3A4965;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  margin-bottom: 50px;
}
table{
  margin-top: 20px;
  width: 1142px;
  height: 684px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #484848;
}
thead td{
  font-size: 60px;
}
td{
  border: 1px #E3E3E3 solid;
  text-align: center;
  position: relative;
}
.price td{
  font-weight: 700;
  background-color: #FAFAFA;
}
.table {
  background-color: #F2F2F2;
  border-collapse: collapse;
}
th:first-child {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px; 
  background-color: #FAFAFA;
  color: #484848;
}
td img{
  padding-right: 4px;
}
th:first-child p{
  font-size: 30px;
}
th{
  font-size: 24px;
  color: #FFF;
  background-color: #89C331;
}
.unlim{
  font-size: 30px;
  background-color: #F04A56;
}
th:last-child{
  background-color: #20807C;
}
sup{
  font-size: 18px;
  font-weight: 400;
}
.price p{
  font-weight: 700;
  font-size: 24px;
  position: absolute;
  top: 12px;
  left: 140px;
}
tbody td{
  border-right: 1px #cfcfcf solid;
}
button {
  width: 195px;
  height: 51px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px; 
  text-transform: uppercase;
  border-radius: 5px;
  background-color: #484848;
  position: relative;
  border: none;
  color: #FFF;
  margin-top: 30px;
  margin-bottom: 30px;
}
.shadow{
  width: 192px;
  height: 9px;
  border-radius: 0px 0px 5px 5px;
  background-color: #404040;
  position: absolute;
  bottom: 0;
  left: 0;
}
.green{
  background-color: #89C331;
}
.green .shadow{
  background-color: #79B027;
}
.red{
  background-color: #F04A56;
}
.red .shadow{
  background-color: #DF3A46;
}
.mint{
  background-color: #20807C;
}
.mint .shadow{
  background-color: #16736F;
}
.darker{
  background-color: #E3E3E3;
}
tfoot td:first-child{
  background-color: #DDDDDD;
}
.green-btn{
  background-color: #EEE;
}
.red-btn{
  background-color: #F2F2F2;
}

.pricing-plan .table{
}
.pricing-plan td{
  background-color: #E3E3E3;
  color: #404040;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px #cfcfcf solid;
}

.pricing-plan .standard{
  font-size: 24px;
  color: #FFF;
  font-weight: 700;
  background-color: #89C331;
}
.pricing-plan .unlim{
  font-size: 24px;
  color: #FFF;
  font-weight: 700;
background-color: #DF3A46;
}
.pricing-plan .premium{
  font-size: 24px;
  color: #FFF;
  font-weight: 700;
  background-color: #20807C;
}
.pricing-plan div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing-plan span{
  font-size: 36px;
font-weight: 700;
}
.pricing-plan .per-month{
  padding-left: 8px;
  font-size: 14px;
font-weight: 700;
}
.pricing-plan th{
  background-color: #E3E3E3;
  color: #484848;
}
.pricing-plan th:first-child{
  background-color: #fafafa;
}
.pricing-plan thead{
  border-bottom: #3A4965 solid 12px;
}
.pricing-plan .light{
  background-color: #F2F2F2;
}
.pricing-plan button{
  margin-top: 12px;
  margin-bottom: 0;
}